.left-sidebar {
  width: 240px
}

@media (max-width: 760px) {
  .left-sidebar {
    width: 80px;
  }

  .left-sidebar  h1 {
    display: none;
  }

  
}

.carousel img {
  height: 600px;
  width: 900px;
}